body {
  margin: 0;
  

    
    .cid-rTpW4eKEc3 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        
        
        .mbr-figure {
          width: 100%;
          height: 50%;
          &:hover{
            .banner_plant {
              .banner_mask{
                .banner_plantTitle{
                  opacity:0;
                  transition: 2s;
                }
              }
            }
            .banner_restaurant  {
              .banner_mask{
                .banner_restaurantTitle{
                  opacity:0;
                  transition: 2s;
                }

              }
            }


          }
         

          .banner_plant {
            width: 40%;
            height: 100%;
            flex: 1;
            background-image: url(./assets/images/環境01.jpg);
            background-size: cover;
            background-position: center;
            transition: 2s;
            position: relative;
            .plant_logo{
              width: 90px;
              height: 90px;
              background-image: url(./assets/images/plant_logo.png);
              background-position: center;
              background-size: cover;
              position: absolute;
              top:calc(50% - 45px);
              left:calc(50% - 45px);
              opacity: 0;
              transition: 0.8s linear;
            }

            .banner_mask{
              width: 100%;
              height: 100%;
              background-color: black;
              opacity:0.4;
              transition: 2s;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              
              .banner_plantTitle{
                font-size: 32px;
                color: white;
                display: flex;
                writing-mode: vertical-rl;
                transition: 2s;
              }
            }
            &:hover {
              flex: 10;
              .banner_mask{
                opacity:0;
                transition: 2s;
              }
              .plant_logo{
                opacity: 1;
                transition: 0.8s linear;

              }
           
            }
            
          }
          .banner_restaurant {
            width: 40%;
            height: 100%;
            flex: 1;
            background-image: url(./assets/images/環境03.jpg);
            background-size: cover;
            background-position: center;
            transition: 2s;
            position: relative;
                .restaurant_logo{
                  width: 90px;
                  height: 90px;
                  background-image: url(./assets/images/restaurant_logo.png);
                  background-position: center;
                  background-size: cover;
                  position: absolute;
                  top:calc(50% - 45px);
                  left:calc(50% - 45px);
                  opacity: 0;
                  transition: 0.8s linear;
                }

            .banner_mask{
              width: 100%;
              height: 100%;
              background-color: black;
              opacity:0.4;
              transition: 2s;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .banner_restaurantTitle{
                font-size: 32px;
                color: white;
                display: flex;
                writing-mode: vertical-rl;
                transition: 2s;
                
               
              }
            }

            &:hover {
              flex: 10;
              .banner_mask{
                opacity:0;
                transition: 2s;

              }
              .restaurant_logo{
                opacity: 1;
                transition: 0.8s linear;

              }
             

            }
            
          }
        }
      }
  
}
